# Mac files
.Trash*

# IntellIJ files
.idea

# Vagrant files
.vagrant

# Ansible files
Ansible/*.retry

# Example project
!/Example Project Specific Development Environment/*

# Local files
Host
Vagrantfile.project
Vagrantfile.user
!/Example Project Specific Development Environment/Vagrantfile.project
!/Example Project Specific Development Environment/Vagrantfile.user
