# IntellIJ stuff
.idea

# Vagrant stuff
.vagrant

# Ansible stuff
Ansible/*.retry

# Example project
!/Example Project Specific Development Environment/*

# Local files
Host
Vagrantfile.project
Vagrantfile.user
!/Example Project Specific Development Environment/Vagrantfile.project
!/Example Project Specific Development Environment/Vagrantfile.user
