#!/usr/bin/env xdg-open
# {{ ansible_managed }}

[Desktop Entry]
Encoding=UTF-8
Name=SoapUI
Comment=SoapUI
Exec=/usr/local/soapui/bin/soapui.sh
Icon=/usr/local/soapui/bin/SoapUI-Spashscreen.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
