#!/usr/bin/env xdg-open
# {{ ansible_managed }}

[Desktop Entry]
Type=Application
Terminal=true
Icon=/home/vagrant/Tools/activemq/webapps-demo/demo/images/activemq-logo.png
Name=ActiveMQ
Exec=/home/vagrant/Tools/activemq/bin/linux-x86-64/activemq console
Categories=Utility;
Comment=ActiveMQ
