#!/usr/bin/env xdg-open
# {{ ansible_managed }}

[Desktop Entry]
Encoding=UTF-8
Name=Eclipse
Comment=Eclipse
Exec={{ homedir }}/Tools/eclipse/eclipse
Icon={{ homedir }}/Tools/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
